
.container-popup{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-popup:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.container-popup:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.popup{
    width: 150%;
    max-width: 500px;
    height: 600px;
    position: relative;
    display: flex;
    background: #333333;
    border-radius: 6px;
    box-shadow: inset 0 0 90px #000;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms; 
}

.container-text{ 
    padding: 50px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
}
.container-text h1{
    font-size: 50px;
    text-align: center;
    color: #6d6d6d;
    margin: 30px;
    text-transform: capitalize;
}
.container-text p{
    margin-top: 60px;
    font-size: 16px;
}
.form_login input{
    font-size: 25px;
    width:350px;
    height: 50px;
    padding: 0px 10px;
    margin: 20px 30px;
    color: #6d6d6d;
    text-align: center;
}

.btn-close-popup{
   
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}

.popup-button { 
    display: block;  
    padding: 2.5px 20px;
    color: rgb(83, 78, 78);
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: black;    
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(143, 20, 20);
}

.popup-button :hover {
    color:gray;
    font-size: 1.025em;
    
}